.modal{
  position:absolute;
  top:50%;
  left:140%;
  transform:translate(-50%, -50%) scale(0);
  transition:200ms ease-in-out;
  z-index:1;
  background:transparent;
  width:90%;
  max-width: 100%;
  color:var(--textColor) ;
}

.modal.active{
  transform:translate(-50%, -50%) scale(1);
}

.modal-body .lang-list{
  margin: 0;
  padding: 0;
  font-size:22px;
  border-spacing: 15px 6px;
}


 .close-button{
  cursor: pointer;
  border: none;
  background: none;
  font-size: 2rem;
  font-weight: bold;
  color: var(--textColor);
}

.modal-body{

}

#overlay{
  position:fixed;
  opacity:0;
  transition:200ms ease-in-out;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:transparent;
  pointer-events: none;
}

#overlay.active{
  pointer-events:all;
  opacity: 1;
}

/* Certificate popup on the about page */

.lsCertificate {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup */
.lsCertificate .popuptext {
  visibility: hidden;
  width: 110%;
  background-color:transparent;
  color: var(--textColor);
  border-radius: 6px;
  padding: 8px 8px;
  position: absolute;
  z-index: 1;
  top: 5%;
  left: 30%;
  margin-left: -300px;
}


.popuptext .overCertifi{
  list-style-type:disc;
  list-style-position:outside;
  font-size:22px;
  text-align:left;
  padding-left: 10%;
}
.popuptext .overCertifi li{
  padding-bottom: 5%;
}

/* Toggle this class - hide and show the popup */
.lsCertificate .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


.DescrClick {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.DescrClick .popuptext {
  visibility: hidden;
  background-color:transparent;
  color: var(--textColor);
  width: 270%;
  border-radius: 6px;
  padding: 8px 8px;
  position: absolute;
  z-index: 1;
  top: -20px;
  left: 27%;
  margin-left: -300px;
}
.DescrClick .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
.jobDesc1{
  background: var(--textColor);
  color: var(--bgcolor);
  font-size: 18px;
  list-style-type:disc;
  list-style-position:outside;
  text-align:left;
  padding:10% 10%;

}
.jobDesc1 li{
  padding-bottom: 8%;
  border: 1px solid black;
  width:100%;
}
