*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Alice', serif;
}

:root{
  --fontText:'Alice', serif;
  --bgcolor:#FCF9F4;
  --textColor: #8D6440;
}
html{
  height: 100%;
  padding: 0px;
  margin: 0px;
}
body{
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-family: var(--fontText);
  background:var(--bgcolor);
  overflow-y:scroll;
  overflow-x:hidden!important;

}
ul{
  list-style-type: none;
}
a{
  text-decoration:none;
}
h1{
  color: var(--textColor);
  text-align: center;
}
h2{
  color:var(--textColor);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media only screen and (max-width: 414px) {

  .grid-sidebar{
    display: grid;
    grid-template-columns: minmax(177px,25%) 1fr;
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;

  }
    .side1{


    }



    .navside{
       background: url('../img/navsideS.png') no-repeat;
       background-size:auto;
       background-position: 0 0;
       width: 45%;
       max-height: 100%;
       position:fixed;
       left:0;
       top:34px;
       bottom:0px;
    }
    .navside .nav-links{
      border:2px solid white;
      width: 88px;
      height: 288px;
      position: absolute;
      top:30%;
      left:3%;
    }
    .nav-links li{
      font-family: var(--fontText);
      font-style: normal;
      font-weight: normal;
      font-size: 90%;
      line-height: 3;
      text-align: center;
      text-transform: uppercase;
    }
    .nav-links li a{
      color: var(--bgcolor);
    }
    .side2{

    }


    .side2 .title{
      height: 22%;
      width: 60%;
      background:url('../img/Stitle.png') no-repeat;
      position: absolute;
      left: 155px;
      top: 166px;
    }
    .kimipic{
      position: absolute;
      width: 294px;
      height: 297px;
      left: 113px;
      top: 349px;

    }
    img{
      width: 294px;
      height: 297px;
    }
    .side2 .footer{
      background: url('../img/footer.png') no-repeat;
      background-size: 100%;
      position: absolute;
      width: 308px;
      height: 90px;
      left: 108px;
      top: 646px;
    }
    .address{
      position: absolute;
      left: 4%;
      top:15px;

    }
    .address p{
      font-family: var(--fontText);
      color: var(--textColor);
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      text-transform: capitalize;
    }
    .footer-links{
      position: absolute;
      left:130px;
      bottom:45px;
      width:40%;
      text-align: center;
    }
    .footer-links li{
      display: inline!important;
      padding-right: 16px;
    }
    .fa-linkedin,.fa-at{
      color:var(--textColor);
      font-size: 25px;
    }
    .copyright{
      text-align: center;
      position: absolute;
      left:90px;
      bottom:15px;
      width: 165px;
      height: 20%;
    }
    .copyright p{
      font-size: 12px;
      font-family:var(--fontText);
      color: var(--textColor);
      font-weight:bold;
      width:100%;
    }
    /* the iphone style for the about page */

      /*the navbar with Hamburger menu */
      /* Style the navigation menu */
      .topnav {
      overflow: visible;
      background:url('../navSmall.svg') no-repeat;
      background-position: right;
      height: 6em;
      position: relative;
      }
       .logoPic a{

         width: 60%;
         height:100px;
       }

      .logoPic img{
        position: absolute;
        width: 60%;
        height: 100px;
        left: 0px;
        top: -10px;
        z-index: -1;
       }

       .picLogo:hover{
        background: transparent;

       }

       /*this is the logo in the landing page */
      .logo img{
        position: fixed;
        width: 50%;
        height: 117px;
        left: 0px;
        top: -10px;
        z-index: -1;
      }

      /* Hide the links inside the navigation menu (except for logo/home) */
      .topnav #myLinks {
      display: none;
      background:var(--textColor);
      height: auto;
      position: absolute;
      right: 0;
      z-index: 2;
      }

      /* Style navigation menu links */
      .topnav a {
      color: var(--bgcolor);
      padding: 14px 16px;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 14px;
      display: block;
      }

      /* Style the hamburger menu */
      .topnav a.icon {
      color: var(--bgcolor);
      font-size: 3em;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      }

      /* Add a grey background color on mouse-over */
      .links a:hover {
      opacity: 0.3;
      background-color: #fffdd0;
      color:black;
      }



    .about-container{
      margin-top: 8%;
      margin-left: 5%;
      margin-right:5%;
      border: 2px solid var(--textColor);
      display: flex;
      flex-direction:column;
      height: 100%;
    }
    .about-container h1{
      margin-bottom: 10px;
      background: red;
    }

    .paragraph{
      flex:1;
      width: 100%;
      position: relative;
      height :auto;
    }


    .paragraph svg foreignObject{
      color: black;
      line-height: 1.7;
      width: 100%;
      height: 100%;
      fill:#FCF9F4;
    }
    .content{
      font-size: 1.2em;
      padding: 0.5em 0.5em;
      color: black;
    }

    .overview{
      flex: 2;
      border: 2px solid red;
      width: 100%;
      height: 200%;
    }
    .overview4{
      background: url('../picoverview.svg') no-repeat;
      background-size: contain;
      display: grid;
      grid-template-areas:
        "education5 language4"
        "certificates7 experience5";
      grid-template-rows: 184px 184px;
      grid-template-columns: 184px 184px;
    }
    .overview4 p{
      color: var(--textColor);
      font-size: 1.1em;
    }

    h2{
      font-size:3em;
    }
    .education5{
      grid-area: education5;
      border: 2px solid gold;
      position: relative;
    }
    .education5 h2{
      position: absolute;
      left:1.3ch;
      top:2.3ch;
    }
    .education5 p{
       position: absolute;
       left:6.5ch;
       top:9ch;
       border: 1px solid black;
     }


    .language4{
      grid-area: language4;
      position: relative;
      border:2px solid red;
    }
    .language4 .fourthLang{
      border: 1px solid green;
      cursor: pointer;
      background:transparent;
      position: absolute;
      left:1.3ch;
      top:5ch;
      display: flex;
      flex-direction: row;
    }
    .fourthLang p{
      margin-top: 2.9ch;
      margin-left: 0.5ch;
    }
    .certificates7{
      grid-area: certificates7;
      position: relative;
    }
    .experience5{
      grid-area: experience5;
      position:relative;
    }

    .skills{
      flex: 2;
      border: 2px solid green;
      width: auto;
      height:auto;
    }
    #content-desktop{
      display: none;
    }
    #content-mobile{
      display: block;
    }
}

  @media only screen and (min-width: 800px) {

  }

  @media only screen and (min-width: 1000px) {
      .grid-sidebar{
        overflow-y: hidden;
      }
      .logo img{
        position: fixed;
        width: 437px;
        height: 171px;
        left: 0px;
        top: 0px;
      }

     .navside{
        background: url('../img/navsideB.png') no-repeat;
        background-position: bottom;
        background-size:auto;
        width: 448px;
        height: 930px;
        position:fixed;
        left:0;
        top:50px;
        bottom:0px;

      }
      .navside .nav-links{
        width: 131px;
        height: 466px;
        font-size: 19px;
        position: absolute;
        top:40%;
        left:10%;
      }
       .nav-links li{
         font-size: 100%;
         font-family: var(--fontText);
         text-transform: uppercase;
         text-align: center;
         line-height: 3;
       }
       .nav-links li a{
         color: var(--bgcolor);
       }
      .side2 .title{
        background:url('../img/Btitle.png') no-repeat;
        position: absolute;
        width: 434px;
        height: 337px;
        left:60%;
        top: 129px;
      }

      .side2 .kimipic{
        padding: 0;
        position: absolute;
        width: 674px;
        height:692px;
        object-fit: fill;
        left: 30%;
        top: 29.4%;
        bottom:0;
        margin-bottom: 0px;
        font-size:0;
      }
      .kimipic img{
        width: 674px;
        height: 690px;
        line-height: 0;
        position: absolute;
        bottom:0px;
      }
      .side2 .footer{
        background: url('../img/footerSide.png') no-repeat;
        background-position: bottom;
        background-size: contain;
        width: 640px;
        height: 590px;
        position: absolute;
        left:65%;
        top:389px;

      }
      .address{
        position: absolute;
        left:440px;
        top:400px;
        width: 30%;
        height:20%;
      }
      .address p{
        font-size: 20px;
      }
      .footer-links{
        position: absolute;
        left:440px;
        bottom:200px;
        width:30%;
      }
      .fa-linkedin,.fa-at{
        font-size: 30px;
      }
      .copyright{
        width:40%;
        height:auto;
        position: absolute;
        left:370px;
        bottom:10px;
        padding-left: 10px;
      }
      .copyright p{
        width:100%;
        font-size:19px;

      }
      .about-container{
        margin-top:28px;
        margin-left: 449px;
        margin-right:325px;
        border: 2px solid var(--textColor);
        display: flex;
        flex-direction:column;
        height: 100%;
        width: 50%;
      }
      .footerSide{
        background:url('../footerside.svg') no-repeat;
        background-size: cover;
        background-position:center;
        width: 367px;
        height: 1024px;
        font-size: 105%;
        color: var(--bgcolor);
        position: fixed;
        top:0;
        right: 0;
        bottom: 0;
        padding-left: 7%;
      }
      /* the style of the about page */
      .paragraph{
        position: relative;
        border: 2px solid blue;
        width:100%;
        height: 600px;
        padding-left: 18%;
      }

      h1{
        font-size:250%;
        margin-bottom:5%;
        line-height: 2;
        font-weight:bold;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 600px;
        border: 2px solid red;
        text-align: center;
      }
      .paragraph svg{
        position:absolute;
        left: 18%;
        top:10%;
        width:600px;
        height:500px;

      }
      .paragraph svg foreignObject{
        color: var(--bgcolor);
        line-height: 1.7;
        width: 100%;
        height: 100%;
        background-color: red;
        fill:#FCF9F4;
      }
      .content{
        padding: 30px 30px 60px;

      }
      .overview{
        flex: 1;
        width: 100%;
        height: 100%;
        padding-left: 18%;
        font-size: 24px;
        line-height: 37px;
      }
      .overview4{
        background: url('../picoverview.svg') no-repeat;
        background-size:contain;
        margin-bottom: 10%;
        width:600px;
        height:600px;
        display:grid;
        grid-template-areas:
          "education5 language4"
          "certificates7 experience5";
        grid-template-rows: 300px 300px;
        grid-template-columns: 300px 300px;
      }
      h2{
        font-size: 80px;
      }
      .education5{
        grid-area: education5;
        position: relative;
      }
      .education5 h2{
        position: absolute;
        left:95px;
        top:130px;
      }
      .education5 p{
         position: absolute;
         left:34%;
         top:150px;
         transform: translate(-50%.-50%);
         color: var(--textColor);
         text-align: center;
         width:170px;
      }
      .language4{
        grid-area: language4;
        position: relative;
      }

      .language4 .fourthLang{
        width: 70%;
        height:50%;
        border: none;
        cursor: pointer;
        background:transparent;
        position: absolute;
        left:40px;
        top:90px;

      }
      .language4 h2{
         position: absolute;
         left:20px;
         top:10px;
      }
      .language4 button p{
        color: var(--textColor);
        font-size: 24px;
        position: absolute;
         left:80px;
         top:60px;
      }
      .certificates7{
        grid-area: certificates7;
        position: relative;
      }
      .certificates7 .lsCertificate{
        width: 65%;
        height:50%;
        border: none;
        cursor: pointer;
        background:transparent;
        position: absolute;
        left:70px;
        top:50px;

      }
      .certificates7 h2{
        position: absolute;
        top: 10px;
        left:0px;
      }
      .certificates7 p{
        color: var(--textColor);
        font-size: 24px;
      }
      .experience5{
        grid-area: experience5;
        position:relative;
      }
      .experience5 h2{
        position: absolute;
        top: 30px;
        left:50px;
      }
      .experience5 p{
        color: var(--textColor);
        width:50%;
        position: absolute;
        text-align: center;
        top: 60px;
        left:70px;
      }
      .skills{
        padding-left: 18%;
        width: 100%;
        height:100%;
      }
      .skills-list{
        border-spacing: 15px 30px;
        border: 2px solid black;
      }
      .skills-list td{
        color: var(--textColor);
        font-size:160%;
      }
      .skills-list td .fas{
        color: var(--textColor);
      }
      .rightC{
        border: 2px solid black;
        width:365px;
      }
      .quote{
        border:2px solid white;
        width:69%;
        padding-top: 56px;
      }
      .quote h3{
        text-align: center;
        font-size: 30px;
      }
      .quote .fas{

      }
      .quote p{
        text-align: center;
        line-height: 1.7;
      }
      .iconMedia{
        border: 2px solid black;
        margin-top: 400px;
        text-align: center;

      }
      .iconMedia i{
        font-size: 30px;
        margin-right: 30px;
        color: var(--bgcolor);

      }
      .address-pg{
        border: 2px solid gold;
      }
      .address-pg p i{
        font-size: 30px;
        margin-right: 25px;
      }
      .copyright-pg,.address-pg{
        margin-top: 20px;
      }
      #content-desktop{
        display: block;
      }
      #content-mobile{
        display: none;
      }

      /*the resume page design */

      .resume-page{
        margin-top:7.5%;
        margin-left: 449px;
        width:50%;
        color:var(--textColor);
      }
      .title-resume{
        font-size: 300%;
        text-align: center;
        border: 2px solid red;


      }
      .certifi,.langu{
        height: 15%;
        width:15%;
        margin-right: 15px;
      }
      .resume-grid{
        padding-top: 40px;
        display:grid;
        grid-template-columns:318px 600px;
        grid-template-areas:
          "cv-Certificates cv-workExperince"
          "cv-Certificates cv-workExperince"
          "cv-Certificates cv-workExperince"
          "cv-Certificates cv-workExperince"
          "cv-Certificates cv-Education"
          "cv-Languages cv-Education"
          "cv-Languages cv-Education";

      }

     .cv-Certificates{
        grid-area:cv-Certificates;
        padding-top: 55%;
      }
     .cv-Languages{
       grid-area:cv-Languages;
       padding-top: 12%;
       padding-bottom:10%;
     }
     .cv-workExperince{
       grid-area:cv-workExperince;
       padding-top: 5%;
       padding-left: 5%;
       border-left :5px solid var(--textColor);
     }
     .cv-Education{
       grid-area:cv-Education;
       padding-left: 5%;
       border-left :5px solid var(--textColor);
     }
    h4{
      font-size: 35px;
    }
    .fa-briefcase ,.fa-graduation-cap{
      margin-right: 15px;
    }
    .certifi-list{
      padding-left:9%;
      padding-top:9%;
      padding-bottom: 10%;
    }
    .certifi-list ul{
      list-style-type:disc;
      font-size:24px;

    }
    .certifi-list ul li{
      padding-bottom: 7%;
    }
    .lang-list{
      padding-left:9%;
      padding-top:5%;
      border-spacing: 10px 20px;
      font-size:24px;
      margin-right: 10px;
    }

    .lang-list .advanced{
      width:90%;
    }
    .work-list{
      padding-top:6%;
    }
    .work-list td{
      font-size:24px;
    }
    .work-list .show-desc{
      text-align:right;
      height:65px;
    }
    .work-list .years{
      text-shadow: 1px 1px 1px;
    }

    .edu-list{
      padding-top:5%;
      border-spacing: 10px;
    }
    .edu-list td{
      font-size:24px;
    }
    .edu-list .show-desc{
      text-align: right;
      height:65px;
    }
    .DescrClick{
       cursor: pointer;
       color: var(--textColor);
       background: transparent;
       font-size:24px;
       border:none;
       box-shadow: 5px 5px 5px #D6AC89;
    }
    .edu-list .years{
      text-shadow: 1px 1px 1px;
    }

  }
